/* Body */

body{
	background-color: #fff;
}


/* Navbar */

.navbar{
	background:#00aeef;
}

.navbar-brand{
	font-family: Viga;
	font-size: 32px;
}

.navbar-brand, .nav-link{
	color: white !important;
}

.col-md-3{
	margin:0 4%;
}
/* Utility */

.tombol{
	text-transform: uppercase;
	border-radius: 40px;
}

.masuk{
		background-color: #00aeef;
		border-color: #00aeef;
}

.masuk:hover{
		background-color: #0089bc;
		border-color: #0089bc;
		color: white;
}

.paragraph{
	margin-top: 5%;
}

/* Desktop Version */

@media (min-width: 992px) {
	
	#wrapper{
		text-align: center;
		padding-top: 4%;
	}
	
	#wrapper h2{
		color:#00aeef;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	}

	.navbar-brand, .nav-link{
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	}

	.navbar{
		position: relative;
		z-index: 1;
	}	

	.nav-link{
		text-transform: uppercase;
		margin-right: 30px;
	}

	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 3px solid white;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px; 
	}
	
	/* Slider */

	.carousel{
		margin-top: -80px;
	}
}